@keyframes NavBar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes NavItem {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}